* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(95, 123, 202);
}

header {
  background-color: rgb(49, 122, 190);
}

.tittle {
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
}

footer {
  background-color: rgb(9, 9, 90);
  position: sticky;
  bottom: 0%;

  .fotter_social {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 40px;
  }

  .fotter_copy {
    color: white;
  }
}

.reboteOut {
  font-family: Arial;
  text-align: center;
  font-size: 50px;
}

.reboteOut {
  animation: reboteOut 1s infinite;
}

@keyframes reboteOut {
  25% {
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
