$margin_img: margin 10px;

.section_images {
  display: flex;
  justify-content: center;

  .image1 {
    margin: $margin_img;
  }
  .image2 {
    margin: $margin_img;
  }
  .image3 {
    margin: $margin_img;
  }
}
