.trat_conteiner1 {
  display: flex;

  font-size: 27px;
  margin-left: 40px;
  margin-right: 40px;
}

.trat_conteiner2 {
  display: flex;
  font-size: 60px;
}

.trat_image1 {
  height: 50%;
  width: 50%;
}
.trat_image2 {
  height: 50%;
  width: 90%;
  margin-right: 20px;
}
