.trat_conteiner1 {
  display: flex;
  font-size: 30px;
}

.trat_conteiner2 {
  display: flex;
  font-size: 30px;
}

.trat_image1 {
  height: 50%;
  width: 50%;
}
.trat_image2 {
  height: 50%;
  width: 37%;
}
